In [1]:
import requests
import pandas as pd

In [2]:
TOKEN_USER = 'vk1.a.Ho_zYaDuAw6MBIs_TQZaIlmRdFCkrpd8gRdVduA8X7isqeCkLwaJo7ZnLDpMHVO5tGrPjsQEntS0-4MQW3O3daBe7_owjty5XWopTS9-aZFTIgbb3Ha1PnBNoWI4xnusutmfplK4unBSMSDD_LOPJrHd2Z3CDis3w0OVdI7PWTd_cf6o8LDloxgVYTG8Zd8DKHu0v3P5qOINT-HUzRR_Jw'
VERSION = 5.81

In [21]:
# переменные 
DOMAIN = 'ksmilor'

# через api vk вызываем статистику постов
response = requests.get('https://api.vk.com/method/wall.get',
params={'access_token': TOKEN_USER,
        'v': VERSION,
        'domain': DOMAIN,
        'count': 100,
        'filter': str('owner')})

data = response.json()['response']['items']

data

In [23]:
# считаем сколько фото у поста, заводи все в df
id = []
photo = []

for post in data:
        id.append(post['id'])
        try:
                photo.append(len(post['attachments']))
        except:
                photo.append(0)

df_photo = pd.DataFrame(
    {'id': id,
     'photo.count': photo,
    })

df_photo

# User

In [9]:
# переменные 
user_ids = ['ksmilor','mergenaliev']

# через api vk вызываем статистику постов
response = requests.get('https://api.vk.com/method/users.get',
params={'access_token': TOKEN_USER,
        'v': VERSION,
        'user_ids': 'ksmilor,mergenaliev,romans91s'})

data = response.json()

data

{'response': [{'id': 145931702, 'first_name': 'Мерген', 'last_name': 'Алиев'},
  {'id': 220211769, 'first_name': 'Роман', 'last_name': 'Серов'}]}

In [12]:
# переносим пользовалей в df
id = []
photo = []
first_name, last_name = [], []

for user in data['response']:
        id.append(user['id'])
        first_name.append(user['first_name'])
        last_name.append(user['last_name'])
        # try:
        #         photo.append(len(user['attachments']))
        # except:
        #         photo.append(0)

df = pd.DataFrame(
    {'id': id,
    'first_name' : first_name,
    'last_name' : last_name,
    })

In [14]:
df = pd.DataFrame(data['response'])
df

          id first_name last_name
0  145931702     Мерген     Алиев
1  220211769      Роман     Серов